/* Error Pages */

.error-page {
  padding: 10rem 0;
  position: relative;
  text-align: center;
}

.error-page:before {
  color: #f3f6f9;
  content: attr(data-error);
  font-size: 40vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}

/* System Pages */

.systems-page {
  margin: 0 auto;
  max-width: 600px;
  padding: 3rem 20px;
}

.systems-page--search-results {
  max-width: 100%;
}

.systems-page .success {
  background-color: #cde3cc;
  border: 1.5px solid #4f7d24;
  border-radius: 6px;
  color: #4f7d24;
  display: inline-block;
  margin: 2rem 0;
  min-width: 650px;
  padding: 0.1rem 0.75rem;
}

.systems-page form input {
  max-width: 100%;
}

form#email-prefs-form {
  max-width: none;
}

form#email-prefs-form .header {
  background-color: transparent;
}

form#email-prefs-form .item.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

form#email-prefs-form .item.disabled input:disabled {
  cursor: not-allowed;
}

form#email-prefs-form input#submitbutton {
  line-height: 1.25rem;
  max-width: 400px;
  white-space: unset;
}

/* Search Pages */

.hs-search-field__bar {
  position: relative;
}

.hs-search-field__suggestions {
  background-color: #fff;
  max-width: 360px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
}

.hs-search-results {
  margin-top: 2rem;
}

.hs-search-results__listing li {
  margin-bottom: 2rem;
}

.hs-search-results__pagination a {
  color: #00326d;
}

.hs-search-results__title {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.hs-search-results__description {
  padding-top: 0.5rem;
}

.hs-search-highlight {
  font-weight: bold;
}

/* Password Prompt */

.password-prompt input[type='password'] {
  height: auto !important;
}

/* Backup Unsubscribe */

.backup-unsubscribe #email-prefs-form div {
  padding-bottom: 0 !important;
}

/* Membership Pages */

#hs-membership-password-requirements ul {
  margin-bottom: 20px;
  padding-left: 0;
}

#hs-membership-password-requirements ul li {
  margin: 0;
  line-height: 1.5;
}

.systems-page .hs-login-widget-show-password,
.systems-page .hs-register-widget-show-password,
.systems-page .hs-reset-widget-show-password {
  display: block;
  margin-bottom: 0.5rem;
}

.systems-page #hs-login-widget-remember,
.systems-page #hs-login-widget-remember ~ label {
  display: inline-block;
  margin-bottom: 3px;
}

.systems-page #hs_login_reset {
  display: block;
  margin-bottom: 0.625rem;
}
